{% extends 'layout.html' %}

{% block title %}
Chat Room
{% endblock %}

{% block main %}

<style>
    body {
        background-color: #f4f7f6;
    }

    .card {
        background: #fff;
        transition: .5s;
        border: 0;
        margin-bottom: 30px;
        border-radius: .55rem;
        position: relative;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    }

    .chat-app .people-list {
        width: 280px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 7;
        height: 60vh; /* Fixed height */
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .chat-app .chat {
        margin-left: 280px;
        border-left: 1px solid #eaeaea;
        height: 60vh; /* Fixed height */
        display: flex;
        flex-direction: column;
    }

    .chat .chat-history {
        padding: 20px;
        border-bottom: 2px solid #fff;
        flex-grow: 1; /* Take remaining height */
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .chat .chat-message {
        padding: 20px;
        border-top: 1px solid #f4f7f6;
    }

    .people-list .chat-list li {
        padding: 10px 15px;
        list-style: none;
        border-radius: 3px;
    }

    .people-list .chat-list li:hover {
        background: #efefef;
        cursor: pointer;
    }

    .people-list .chat-list li.active {
        background: #efefef;
    }

    .people-list .chat-list li .name {
        font-size: 15px;
    }

    .people-list .chat-list img {
        width: 45px;
        border-radius: 50%;
    }

    .people-list img {
        float: left;
        border-radius: 50%;
    }

    .people-list .about {
        float: left;
        padding-left: 8px;
    }

    .people-list .status {
        color: #999;
        font-size: 13px;
    }

    .chat .chat-header {
        padding: 15px 20px;
        border-bottom: 2px solid #f4f7f6;
    }

    .chat .chat-header img {
        float: left;
        border-radius: 40px;
        width: 40px;
    }

    .chat .chat-header .chat-about {
        float: left;
        padding-left: 10px;
    }

    .chat .chat-history ul {
        padding: 0;
    }

    .chat .chat-history ul li {
        list-style: none;
        margin-bottom: 30px;
    }

    .chat .chat-history ul li:last-child {
        margin-bottom: 0px;
    }

    .chat .chat-history .message-data {
        margin-bottom: 15px;
    }

    .chat .chat-history .message-data img {
        border-radius: 40px;
        width: 40px;
    }

    .chat .chat-history .message-data-time {
        color: #434651;
        padding-left: 6px;
    }

    .chat .chat-history .message {
        color: #444;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        display: inline-block;
        position: relative;
    }

    .chat .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }

    .chat .chat-history .my-message {
        background: #efefef;
    }

    .chat .chat-history .my-message:after {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #efefef;
        border-width: 10px;
        margin-left: -10px;
    }

    .chat .chat-history .other-message {
        background: #e8f1f3;
        text-align: right;
    }

    .chat .chat-history .other-message:after {
        border-bottom-color: #e8f1f3;
        left: 93%;
    }

    .online,
    .offline,
    .me {
        margin-right: 2px;
        font-size: 8px;
        vertical-align: middle;
    }

    .online {
        color: #86c541;
    }

    .offline {
        color: #e47297;
    }

    .me {
        color: #1d8ecd;
    }

    .float-right {
        float: right;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    @media only screen and (max-width: 767px) {
        .chat-app .people-list {
            height: 465px;
            width: 100%;
            overflow-x: auto;
            background: #fff;
            left: -400px;
            display: none;
        }
        .chat-app .people-list.open {
            left: 0;
        }
        .chat-app .chat {
            margin: 0;
        }
        .chat-app .chat .chat-header {
            border-radius: 0.55rem 0.55rem 0 0;
        }
        .chat-app .chat-history {
            height: 300px;
            overflow-x: auto;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .chat-app .chat-list {
            height: 650px;
            overflow-x: auto;
        }
        .chat-app .chat-history {
            height: 600px;
            overflow-x: auto;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        .chat-app .chat-list {
            height: 480px;
            overflow-x: auto;
        }
        .chat-app .chat-history {
            height: calc(100vh - 350px);
            overflow-x: auto;
        }
    }
</style>


<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="user-search-input" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0" id="chat-room-list">
                        {% for chat_room in chat_rooms %}
                        <li class="clearfix chat-room" data-room-id="{{ chat_room.id }}">
                            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="avatar">
                            <div class="about">
                                <div class="name">{{ chat_room.name }}</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> subscribe to show </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-history" id="chat-history">
                        <!-- Messages will be appended here -->
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input type="text" class="form-control" id="message-input" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // var socket = io.connect('http://' + document.domain + ':' + location.port);
        var socket = io.connect('http://ec2-54-179-255-198.ap-southeast-1.compute.amazonaws.com');

        var currentRoomId = null;

        document.querySelectorAll('.chat-room').forEach(function(element) {
            element.addEventListener('click', function() {
                var newRoomId = this.getAttribute('data-room-id');
                if (currentRoomId !== newRoomId) {
                    leaveCurrentRoom(currentRoomId);
                    currentRoomId = newRoomId;
                    socket.emit('join', {
                        username: "{{ user.username }}",
                        room: currentRoomId
                    });
                    fetchChatHistory(currentRoomId);
                }
            });
        });

        function leaveCurrentRoom(roomId) {
            if (roomId) {
                socket.emit('leave', {
                    username: "{{ user.username }}",
                    room: roomId
                });
            }
        }

        socket.on('message', function(msg) {
            var chatHistory = document.getElementById('chat-history');
            var localTimestamp = convertUTCToLocalTime(msg.timestamp);
            var formattedMessage = `<div><strong>${msg.username} [${localTimestamp}]:</strong><br>${msg.message}</div><br><br>`;
            chatHistory.innerHTML += formattedMessage;
            chatHistory.scrollTop = chatHistory.scrollHeight;
        });

        document.getElementById('message-input').addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                var message = e.target.value;
                socket.emit('message', {
                    room: currentRoomId,
                    message: message
                });
                e.target.value = '';
            }
        });

        document.getElementById('user-search-input').addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                var searchTerm = e.target.value;
                fetch(`/search_user?query=${searchTerm}`)
                    .then(response => response.json())
                    .then(data => {
                        var chatRoomList = document.getElementById('chat-room-list');
                        chatRoomList.innerHTML = '';
                        if (Array.isArray(data) && data.length > 0) {
                            data.forEach(user => {
                                var listItem = document.createElement('li');
                                listItem.className = 'clearfix chat-room';
                                listItem.dataset.userId = user.id;
                                listItem.innerHTML = `
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                            <div class="about">
                                <div class="name">${user.username}</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> Last seen at "???"</div>
                            </div>
                        `;
                                listItem.addEventListener('click', function() {
                                    initiateChat(user.id);
                                });
                                chatRoomList.appendChild(listItem);
                            });
                        } else {
                            alert('Invalid User Input');
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching users:', error);
                    });
            }
        });


        function fetchChatHistory(roomId) {
            fetch(`/chat_history/${roomId}`)
                .then(response => response.json())
                .then(messages => {
                    var chatHistory = document.getElementById('chat-history');
                    chatHistory.innerHTML = '';
                    messages.forEach(msg => {
                        var localTimestamp = convertUTCToLocalTime(msg.timestamp);
                        var formattedMessage = `<div><strong>${msg.username} [${localTimestamp}]:</strong><br>${msg.content}</div><br><br>`;
                        chatHistory.innerHTML += formattedMessage;
                    });
                    chatHistory.scrollTop = chatHistory.scrollHeight;
                })
                .catch(error => {
                    console.error('Error fetching chat history:', error);
                });
        }

        function initiateChat(userId) {
            fetch(`/initiate_chat`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_id: userId })
            })
                .then(response => response.json())
                .then(data => {
                    currentRoomId = data.room_id;
                    socket.emit('join', {
                        username: "{{ user.username }}",
                        room: currentRoomId
                    });
                    fetchChatHistory(currentRoomId);
                });
        }

        window.addEventListener('beforeunload', function(event) {
            leaveCurrentRoom(currentRoomId);
        });

        socket.on('user_left', function(data) {
            var chatHistory = document.getElementById('chat-history');
            chatHistory.innerHTML += '<div>' + data.message + '</div><br><br>';
            chatHistory.scrollTop = chatHistory.scrollHeight;
        });

        function convertUTCToLocalTime(utcTimestamp) {
            var date = new Date(utcTimestamp + 'Z');
            return date.toLocaleString();
        }
    });
</script>


{% endblock %}
