{% extends "index.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </label>
    </div>
    <div class="mb-3">
        <label for="pwinput1"></label><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" id="pwinput1">
    </div>
    <div class="mb-3">
        <label for="pwinput2"></label><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirmation" placeholder="Password Confirmation" type="password" id="pwinput2">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<label for="password2"></label><input type="checkbox" id="password2" hidden>
<script>
    let x = document.getElementById("pwinput1");
    let y = document.getElementById("pwinput2");
    document.querySelector("#password2").addEventListener('change', function() {
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    });
</script>
{% endblock %}